@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    font-family: 'Playfair Display', serif;
    background-color: #84e7f8;
}
.forms{
    width: 600px;
    height: 90vh;
    margin-top: 30px;
    background-color: #ACECF7;
}
.forms h1{
    text-align: center;
}
.name{
    height: 30px;
    width: 200px;
}
.forName{
    padding: 20px 0 10px 20px;
    max-width: 100%;
}
.spano{
    margin-left: 100px;
   
}
.langu{
    padding: 10px 0 20px 20px;
    flex-direction: row;
}
h4{
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
}
.isLangu{
    padding-right: 40px;
    margin-left: 70px;
   
}
.btns{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px 0 50px 0;
    height: 12vh;
}
.greetBtn{
    width: 200px;
    height: 9vh;
    outline: none;
    border: none;
    color: white;
    background-color: #1A1423;
    box-shadow: inset 0 0 0 0 #FEFCAD;
    transition: ease-in-out 0.3s;
    font-size: 1.2rem;
    
}
.greetBtn:hover{
    box-shadow: inset 200px 0 0 0 #FEFCAD;
    cursor: pointer;
    color: black;
}
.resetBtn{
    width: 200px;
    height: 9vh;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    background-color: #1A1423;
    box-shadow: inset 0 0 0 0 #FEFCAD;
    transition: ease-in-out 0.3s;
    font-size: 1.2rem;
}
.resetBtn:hover{
    box-shadow: inset 200px 0 0 0 #FEFCAD;
    cursor: pointer;
    color: black;
}

.theMessage{
    font-size: 20px;
   text-align: center;
   background-color: white;
   height: 15vh;
   width: 300px;
   padding-top: 30px;
   margin-top: 30px;
}
h1{
    font: sans-seri;
    font-style:normal;
    font-size: 50px;
    font-weight: 300;
    padding-top: 50px;
}
.theCount{
    float: right;
    background-color: white;
    width: 70px;
    height: 50px;
    text-align: center;
    color:black;
    margin-top: 20px;
    margin-right: 10px;
    padding-top: 10px;
    font-size: 20px;

}
.theName{
    text-align: center;
    width: 400px;
    height: 50px;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 20px;
}
label{
    font-size: 20px;
    font-weight: 700;
}
.count{
    float: right;
    padding-right: 20px;
}

@media only screen and (max-width: 480px){

    body{
       width: 100%;
    }
    .container{
        height: 100vh;
        width: 100%;
    }
    .forms{
        margin-top: 0;
        /* height: 100%; */
        width: 100%;
    }
    h1{
        font-size: 60px;
    }
    .theName{
        text-align: center;
        width: 260px;
        height: 70px;
        font-size: 20px;
        margin-left: 10px;
    }
    h4{
        font-size: 30px;
    }

    .theMessage{
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        height: 17vh;
        width: 300px;
     }   
     .resetBtn{
        width: 150px;
        height: 12vh;
        outline: none;
        border: none;
        color: white;
        background-color: #1A1423;
        box-shadow: inset 0 0 0 0 #FEFCAD;
        transition: ease-in-out 0.2s;
        font-size: 1.5rem;
        justify-content: space-around;
    }
    .resetBtn:hover{
        box-shadow: inset 200px 0 0 0 #FEFCAD;
        cursor: pointer;
        color: black;
    } 
    .greetBtn{
        width: 150px;
        height: 12vh;
        outline: none;
        border: none;
        color: white;
        background-color: #1A1423;
        box-shadow: inset 0 0 0 0 #FEFCAD;
        transition: ease-in-out 0.3s;
        font-size: 1.5rem;
        justify-content: space-around;
    }
    .greetBtn:hover{
        box-shadow: inset 200px 0 0 0 #FEFCAD;
        cursor: pointer;
        color: black;
    }
    .forName{
        padding: 20px 0px 20px 20px;
        flex-direction: row;
    }
    .isLangu{
        padding-right: 10px;
        padding-bottom: 20px;
        font-size: 20px;
        margin-left: 10px;
    }
    .langu{
        padding: 20px 0 20px 20px;
        width: 100%;
    }
    .theCount{
        font-size: 30px;
        height: 70px;
    }

}
    